body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #6e5c62;
    color:#fafaff;display:flex;flex-direction:column;font-family:Mitr,sans-serif;font-weight:600;height:calc(100% - var(--inset));margin-top:var(--inset);-webkit-user-select:none;-moz-user-select:none;user-select:none;width:100%
}

.title-container-header {
    text-align: center;
    width: 510px;
    margin-top: -1em;
    margin-left: auto;
    margin-right: auto;
    flex:1 0 auto;
}

.tile-container {
    text-align: center;
    width: 510px;
    margin-top: 3rem;
}

.app-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tile-row {
    margin-bottom: 0.25rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.tile-row-hidden {
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    visibility: hidden;
}

.tile-column {
    background-color: #615458;
    height: 77px;
    width: 75px;
    border-radius: 0.45rem;
    margin-right: 0.25rem;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.typing {
    background-color: #6e5c62;
    border: 3px solid #4c4347;
    box-sizing: border-box;
    cursor: pointer;
}

.typing-selected {
    background-color: #6e5c62;
    border: 3px solid #4c4347;
    border-bottom: 5px solid #4c4347;
    box-sizing: border-box;
}

.keyboard-container {
    margin-top: -3em;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container-first {
    align-items: center;
    display: flex;
}

.keyboard-row-container-second {
    margin-left: 1.0em;
    align-items: center;
    display: flex;
}

.keyboard-row-container-third {
    margin-left: 2.15em;
    align-items: center;
    display: flex;
}

.button-refresh{
    position:absolute; 
    top:2%;
    right:30%;
    width: 5%; 
    height: 5%; 
}

.button-refresh-hidden{
    visibility: hidden;
    position:absolute; 
    top:2%;
    right:30%;
    width: 5%; 
    height: 5%; 
}

button {
    touch-action: manipulation;
    outline: none;
    background-color: #4C4347;
    grid-column: span 3;
    display: flex;
    font-size: 2em;
    margin: 0.10em;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    font-weight: 500;
    width: 70px;
    height: 80px;
    font-family: 'Mitr', sans-serif;
    cursor: pointer;
    border: none;
    color: #FAFAFF;
}

#backspaceButton {
    touch-action: manipulation;
    outline: none;
    background-color: #4C4347;
    grid-column: span 3;
    display: flex;
    font-size: 2em;
    align-items: center;
    border-radius: 8%;
    font-weight: 500;
    width: 70px;
    height: 80px;
    font-family: 'Mitr', sans-serif;
    cursor: pointer;
    border: none;
    color: #FAFAFF;
    padding-left: 25px;
    margin-left: 1.25em;
}

#enterButton {
    touch-action: manipulation;
    outline: none;
    background-color: #4C4347;
    grid-column: span 3;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 8%;
    font-weight: 500;
    width: 150px;
    height: 80px;
    font-family: 'Mitr', sans-serif;
    cursor: pointer;
    border: none;
    color: #FAFAFF;
    margin-left: 2.95em;
}

.right {
    -webkit-animation-name: guess-right;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #3aa394;
    color: #f4f3f1;
}

@-webkit-keyframes guess-right {
    from {
        background-color: #6e5c62;
        color: #f4f3f1;
    }

    to {
        background-color: #3aa394;
        color: #ffffff;
    }

}

.wrong {
    -webkit-animation-name: guess-wrong;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #312a2c;
    color: #f4f3f1;
}

@-webkit-keyframes guess-wrong {
    from {
        background-color: #6e5c62;
        color: #f4f3f1;
    }

    to {
        background-color: #312a2c;
        color: #f4f3f1;
    }

}

.wrong-result {
    -webkit-animation-name: wrong-result;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #cf2858;
    color: #f4f3f1;
}

@-webkit-keyframes wrong-result {
    from {
        background-color: #6e5c62;
        color: #f4f3f1;
    }

    to {
        background-color: #cf2858;
        color: #f4f3f1;
    }

}

.displaced {
    -webkit-animation-name: guess-displaced;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #d3ad69;
    color: #f4f3f1;
}

@-webkit-keyframes guess-displaced {
    from {
        background-color: #6e5c62;
        color: #f4f3f1;
    }

    to {
        background-color: #d3ad69;
        color: #f4f3f1;
    }

}

.btn-right {
    -webkit-animation-name: btn-right;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #3aa394;
    color: #ffffff;
}

@-webkit-keyframes btn-right {
    from {
        background-color: #4C4347;
        color: #ffffff;
    }

    to {
        background-color: #3aa394;
        color: #ffffff;
    }

}

.btn-displaced {
    -webkit-animation-name: btn-displaced;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #d3ad69;
    color: #ffffff;
}

@-webkit-keyframes btn-displaced {
    from {
        background-color: #4C4347;
        color: #ffffff;
    }

    to {
        background-color: #d3ad69;
        color: #ffffff;
    }

}

.btn-disabled {
    -webkit-animation-name: btn-disabled;
    -webkit-animation-duration: 0.75s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    background-color: #594b4f;
    color: #6e5c62;
}

@-webkit-keyframes btn-disabled {
    from {
        background-color: #4C4347;
        color: #ffffff;
    }

    to {
        background-color: #594b4f;
        color: #6e5c62;
    }

}